        
    /*---------------Navigation bar section------------------- */


    html {
        scroll-behavior: smooth;
    }

    nav a{
        text-decoration:none;
        color: rgb(23, 22, 22);
        background-color: rgb(199, 199, 194);
        border-radius: 5px;
        padding: 4px;
        }

    nav{
        background-color: rgb(233, 230, 225);
        display: flex;
        justify-content: space-between;
    }  

    .hire{
        background: #78b0e7;
        padding: 10px;
        border-radius: 8px;
    }

    .welcome{
        text-align: center;
        color: rgb(82, 80, 149);
    }
/*----------------------Picture Section---------------*/
        .pic{
        border-radius: 7px;
        width: 400px;
        height: 500px;
        margin-bottom: 460px;
        margin-top: 10px;
    }

/*-----------------My Title------------------*/
    .my-title{
        font-size: 1.2rem;
    }
    .resume-btn {
        text-decoration: none;
        color: white;
        background-color: #28a745; /* সবুজ রঙ যা ডাউনলোড বাটনের জন্য ভালো */
        padding: 6px 12px;
        border-radius: 5px;
        margin-left: 20px;
        font-weight: bold;
        transition: 0.3s;
    }

    .resume-btn:hover {
        background-color: #218838;
        transform: scale(2.05); /* মাউস নিলে সামান্য বড় হবে */
    }

/*------First Title containt" I'm a new Devoloper-------*/  
    .first-containt{
        display: flex;
        gap: 20px;
    }

    .about{
        text-align: center;
    }

    .about-ex1{
        padding: 40px;
        background-color: rgb(251, 251, 200);
        margin-bottom: 20pxS;
    }
       
/*-------Project Section-------*/
    .my-project{
        padding: 40px;
        background-color: rebeccapurple;
    }
    .project{
        text-align: center;
    }
    .project-grid{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 60px;
        margin-top: 40px;
    }

    .project-card{
        background-color: rgb(245, 249, 255);
        padding: 30px;
        border-radius: 15px;
        overflow: hidden;
        transition: transform 0.3s;
        border:  1px solid #eee;
    }

    .project-card:hover {
        transform: translateY(-10px);
        box-shadow: 0 20px 40px rgba(0,0,0,0.1);
    }

        
/*---------------Basic styling for the links------------ */
    .ex1 a:hover {
        background-color: #007bff; /* Changes background to blue */
        color: rgb(191, 0, 0);               
        transform: translateY(-2px);
    }

        
/*------------msg box-------------------------*/
    .msg{
        padding-top: 10px;
    }
        
    .msg-button{
        padding-top: 5px;
        background-color: ;
        text-align: center;
        color: rgb(153, 168, 171);
        padding-bottom: 10px;
    }
    


    .message-box{
       padding-left: 80px;
       padding-right: 80px;
       border-radius: 5px;
       text-align: left;
    }

    .field-wrapper{
        display: flex;
        min-height: 50px;
        flex-direction: column;
        font-size: 1rem;
        border-radius: 5px;
        resize: none;
    }

    .submit{
        padding-top: 10px;
        border-radius: 4px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        border: solid 2px rgb(120, 23, 189);
    }
      

.footer-container{
        display: flex;
        flex-wrap: wrap;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-evenly;
        margin-top: 20px;
        color: white;
    }


    .footer-logo{
        color: rgb(229, 255, 0);
    }

/*------------------Social Media Button-----------------*/
    .social-button{
        text-decoration: none;
        display: inline-flex;
        color: white;
    }

    .footer-area{
        background-color: rgb(67, 74, 80);
    }
    

    .copyright{
         padding-left: 10px;
         padding-bottom: 20px;
         color: azure;    
    }







  









