.navi {
    display: flex;
    padding: 30px 160px;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}

.button {
    color: rebeccapurple;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid green;
    gap: 48px;
}

#bd {
    color: rgba(196, 211, 154, 0.5);
    font-family: "Fira Sans";
}

.idea {
    display: flex;
    padding: 80px 100px;
    background-color: #C6E4D6;
    margin: 5px 160px 5px 160px;
    border-radius: 10px;
}


.idea .button {
    background-color: #006A40;
    color: white;
}

.img {
    margin-left: 100px;
}

.Pillars {
    padding: 30px 160px;
}
.innovation{
padding: 10px 5px;
background-color: aliceblue;
margin: 5px 5px 5px 160px; 
border-radius: 10px;
gap: 24px;
}

.innovation-container{
    display: flex;
    justify-content: space-between;

}

.vision {
    padding: 30px 160px;s
}

.container{
    display: flex;
    
}
.digital{
padding: 10px 20px 10px 10px;
background-color: rgb(148, 196, 245);
margin: 5px 5px 5px 160px; 
border-radius: 10px;
}
.green{
background-color: rgb(159, 215, 159);
padding: 10px 20px 10px 10px;
margin: 5px 5px 5px 160px; 
border-radius: 10px;
}

.modern{
background-color: rgb(216, 241, 142);
padding: 10px 20px 10px 10px;
margin: 5px 5px 5px 160px; 
border-radius: 10px;
}

.yunus{
    
    padding: 48px 24px;
    background-color: #f4ded0;
    margin: 5px 160px 5px 160px;
    border-radius: 10px;
}
.option{
    padding: 30px 160px;
}


.question{
    padding: 20px 40px;
    background-color: #0b7a48;
    margin: 5px 160px 5px 160px;
    border-radius: 10px;    


}


.recent{
    padding: 30px 160px;
}

.until{
    display: flex;
    gap: 20px;
    padding: 20px 40px;
    background-color: #ecf7f2;
    margin: 5px 160px 5px 160px;
    border-radius: 10px;
}
.read{
    background-color: #3d9d62;
    padding: 5px 5px 5px 5px;
    border-radius: 3px;
    color: #fafffd;   
}
.donate{
    text-align: center;
}
.taka-container{
    display: flex;
    grid-gap: 20px;


}

.taka{
    background-color: #eef6f1;
    gap: 20px;
    border-radius: 6px;
    padding: 10px 10px 10px 10px;
    margin: 5px 5px 5px 190px;
    text-align: center;
}
.money{

    }

.other{
background-color: #fafbfa;
    gap: 50px;
    padding: 20px 10px 20px 10px;
    margin: 5px 190px 5px 190px;
    text-align: center;
    color: rgb(111, 114, 114);
}

.done{
    background-color: #135527;
    padding: 15px 15px 15px 15px;
    margin: 5px 190px 5px 700px;
    border-radius: 8px;
    color: #fafffd; 
    margin-bottom: 60px;
}

.enter{
    background-color: #fafbfa;
    gap: 50px;
    padding: 20px 10px 20px 10px;
    margin: 5px 270px 5px 190px;
    text-align: center;
    color: rgb(139, 143, 143);
}
.subscribe{
    background-color: #982253;
    gap: 50px;
    padding: 20px 10px 20px 10px;
    margin: 5px 690px 5px 690px;
    text-align: center;
    color: rgb(247, 255, 255);
}

.subscribe-email{
 
}

.we{
    text-align: center;
}

.newsletter{
    
   
    gap: 20px;
    padding: 20px 40px;
    background-color: #0b7a48;
    margin: 5px 160px 5px 160px;
    border-radius: 10px;    

}

.icons{
    text-align: center;
    margin-bottom: 100px;
}