.navi {
    display: flex;
    padding: 30px 160px;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}

.button {
    color: rebeccapurple;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid green;
    gap: 48px;
}

#bd {
    color: rgba(196, 211, 154, 0.5);
    font-family: "Fira Sans";
}

.idea {
    display: flex;
    padding: 80px 100px;
    background-color: #C6E4D6;
    margin: 5px 160px 5px 160px;
    border-radius: 10px;
}


.idea .button {
    background-color: #006A40;
    color: white;

}
.img{
    margin-left: 100px;
}